<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <NavBar />

                <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
                    <h1 class="mb-3 mt-5">This is a 404 Error!!!</h1>
                    <h1 class="mb-3">Sorry, this page is not available or is missing!</h1>
                    <p class="mt-2 mb-2">Please check to make sure the URL is correctly spelt.</p>
                    <div class="d-flex h-100 w-100 justify-content-center align-items-center mt-3 mb-5 lds">
                        <div><i class="far fa-frown"></i></div>
                        <div><i class="far fa-frown"></i></div>
                        <div><i class="far fa-frown"></i></div>
                        <div><i class="far fa-frown"></i></div>
                    </div>
                </div>

                <Footer />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
